<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpeg' %>
  </div>

  <div id="content">
    <h1>It's Mr. pdkpro</h1>
    <p>
      Name: pdkpro <br>
      Age: 22 <br>
      School: Danang university of science and technology <br>
      Contact: pdkitf@gmail.com <br>
    </p>
  </div>
</div>
