<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpeg' %>
  </div>

  <div id="content">
    <h1>It's Mr. pdkpro</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus sint, dolorem quas quibusdam sed voluptatibus velit eius corporis reprehenderit fuga nam sequi aliquam iusto, ipsa, dolores corrupti vitae neque harum?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, doloremque sint repellat ipsa magni tenetur omnis voluptatibus atque odio recusandae laudantium veritatis, cupiditate! Facilis soluta id saepe minus magni natus?
    </p>
  </div>
</div>
